.app-list-item {
  font-size: 1.25rem;

  button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .btn-star,
  .fa-heart {
    color: #aeaeae
  }

  .btn-trash {
    color: red;
  }

  .fa-heart {
    font-size: 16px
  }

  &-label {
    display: block;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
    transition: 0.5s all;
  }

  &.like .fa-heart {
    color: red
  }

  &.important .btn-star {
    color: #ffd700
  }
}
